workflows/test3/edwin/my-workflow-23.json
{
  "updatedAt": "2026-06-14T11:25:48.198Z",
  "createdAt": "2026-06-10T08:36:56.576Z",
  "id": "wmZcSSqS97Dyal7K",
  "name": "My workflow 23",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        0
      ],
      "id": "6d5e83f1-8de4-42b4-8e88-ba47c9a9be13",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f40441bb-692b-4262-a1b4-f64a1f42f1cf",
              "name": "Name",
              "value": "Serah",
              "type": "string"
            },
            {
              "id": "52ba1fe6-f87c-4352-957a-774846617990",
              "name": "RiskScore",
              "value": 90,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "dedc3bab-7100-48bd-ab59-f49a050a684d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "85d3eba8-13f9-43cb-a134-e8eecabc4f2b",
              "leftValue": "={{ $json.RiskScore }}",
              "rightValue": 80,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "94242bb2-1fc2-41d7-9a62-c1eaed25d1ca",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a healthcare risk analyst.\n\nPatient Name: {{$json.Name}}\nRisk Score: {{$json.RiskScore}}\n\nExplain why this patient is considered high risk and recommend next steps.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        656,
        -192
      ],
      "id": "51e8597e-15ee-4036-9201-25c1ec508b5a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        592,
        288
      ],
      "id": "89054961-fd67-40bf-97cc-136e161b2187",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "535mhiaNdaHFFP7U",
          "name": "Edwin"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -304,
        352
      ],
      "id": "8311e85e-1c98-482b-84f9-7d208685a4e3",
      "name": "Schedule Trigger"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f18547ad-69e8-4cc0-9ecc-ae8c4d7e3b7e",
  "activeVersionId": null,
  "versionCounter": 36,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-10T08:36:56.578Z",
      "createdAt": "2026-06-10T08:36:56.578Z",
      "role": "workflow:owner",
      "workflowId": "wmZcSSqS97Dyal7K",
      "projectId": "DGOxBB0EAKjucbcz",
      "project": {
        "updatedAt": "2026-02-19T17:09:04.960Z",
        "createdAt": "2026-02-19T16:44:33.941Z",
        "id": "DGOxBB0EAKjucbcz",
        "name": "Admin n8n <admin@n8n.iohealth.im>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "25a4375d-9192-44f3-8669-208ce86b1a29"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}